*.pdf
.vs/
build/
x64/
Debug/
Release/
*.user
*.suo
*.VC.db
*.VC.opendb
*.log
*.obj
!assets/models/*.obj
*.pdb
*.ilk
*.exe
imgui.ini
logs/
screenshots/
external/imgui/.github/
external/imgui/docs/
external/imgui/examples/
external/imgui/misc/
external/imgui/.editorconfig
external/imgui/.gitattributes
external/imgui/.gitignore
external/imgui/imgui_demo.cpp
external/imgui/backends/*
!external/imgui/backends/imgui_impl_dx11.cpp
!external/imgui/backends/imgui_impl_dx11.h
!external/imgui/backends/imgui_impl_win32.cpp
!external/imgui/backends/imgui_impl_win32.h
